({
    "features": FeaturesDynamicAsset ([
        FeatureDynamicAsset (
            id: "tree",
            name: "Tree",
            variants: [
                FeatureVariantDynamic(
                    id: "desert",
                    name: "Desert Tree",
                    threshold: 0.9,
                    scene: "gltf/decoration/nature/trees_A_cut.gltf#Scene0",
                ),
                FeatureVariantDynamic(
                    id: "grassland",
                    name: "Grassland Tree",
                    threshold: 0.7,
                    scene: "gltf/decoration/nature/trees_A_small.gltf#Scene0",
                ),
                FeatureVariantDynamic(
                    id: "hills",
                    name: "Hills Tree",
                    threshold: 0.6,
                    scene: "gltf/decoration/nature/trees_A_large.gltf#Scene0",
                ),
                FeatureVariantDynamic(
                    id: "mountains",
                    name: "Mountain Tree",
                    threshold: 0.8,
                    scene: "gltf/decoration/nature/trees_A_large.gltf#Scene0",
                ),
            ],
        ),
        FeatureDynamicAsset (
            id: "stone",
            name: "Stone",
            variants: [
                FeatureVariantDynamic(
                    id: "desert",
                    name: "Desert Stone",
                    threshold: 0.9,
                    scene: "gltf/decoration/nature/rock_single_A.gltf#Scene0",
                ),
                FeatureVariantDynamic(
                    id: "grassland",
                    name: "Grassland Stone",
                    threshold: 0.7,
                    scene: "gltf/decoration/nature/rock_single_A.gltf#Scene0",
                ),
                FeatureVariantDynamic(
                    id: "hills",
                    name: "Hills Stone",
                    threshold: 0.6,
                    scene: "gltf/decoration/nature/rock_single_A.gltf#Scene0",
                ),
                FeatureVariantDynamic(
                    id: "mountains",
                    name: "Mountain Stone",
                    threshold: 0.8,
                    scene: "gltf/decoration/nature/rock_single_A.gltf#Scene0",
                ),
            ],
        ),
    ]),
})
