({
    "features": FeaturesDynamicAsset ([
        FeatureDynamicAsset (
            id: "tree",
            name: "Tree",
            threshold: [
                1.0,
                1.0,
                0.9,
                0.5,
                0.3,
                0.7,
            ],
            model: "gltf/decoration/nature/trees_A_large.gltf#Scene0",
        ),
    ]),
})
